* {
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
    outline: none;
}

/* width */
* ::-webkit-scrollbar {
    width: 8px;
    background: #1C1C1C;
}

/* handle */
* ::-webkit-scrollbar-thumb {
    background: rgba(4,20,92,0.938813025210084) 72%;
    border-radius: 5px;
}

/* Navbar */

.navbar {
    height: 10vh;
    background: radial-gradient(circle, rgba(10,152,250,1) 10%, rgba(4,20,92,0.938813025210084) 72%);
    display: flex;
    justify-content: center;
}

.midNavbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgNavbar {
    display: flex;
}

.imgNavbar img {
    width: 150px;
}

.midNavbar ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
}

.midNavbar ul li {
    font-size: 20px;
    margin-right: 50px;
}

.midNavbar ul li a {
    color: white;
    text-decoration: none;
    transition: 0.8s;
}

.midNavbar ul li a:hover {
    color: gray;
}

/* Conteúdo principal */

.imgPrincipal {
    background: url(../images/imagem_principal.jpg) no-repeat;
    background-size: cover;
    height: 80vh;
}

.imgPrincipal h1 {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 20px;
}

.imgPrincipal img {
    width: 50%;
}

.jogos {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.lol,.cs {
    width: 40%;
    text-align: center;
    border: 3px black solid;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.jogos img:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 14px 2px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
}

.jogos h3 {
    font-size: 30px;
    padding: 10px;
    color: navy;
}

.jogos p {
    font-size: 25px;
    color: ghostwhite;
}

/* Footer */

.footer {
    background: #04145cf5;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoFooter {
    width: 120px;
}

.dev {
    text-align: center;
    color: white;
}

.dev h2 {
    margin-top: 10px;
}

.dev p {
    font-size: 20px;
}

.imgRedes img {
    width: 50px;
    margin-right: 10px;
    font-size: 20px;
}