* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

/* Navbar */

.navbar {
    height: 10vh;
    background: radial-gradient(circle, rgba(1,28,89,0.9808298319327731) 2%, rgba(38,212,182,1) 65%);
    display: flex;
    justify-content: center;
    border-bottom: 3px solid black;
}

.midNavbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.imgNavbar {
    display: flex;
    align-items: center;
}

.imgNavbar img {
    width: 150px;
}

.midNavbar ul {
    color: white;
    display: flex;
    list-style-type: none;
    margin-top: 35px;
    text-transform: uppercase;
}

.midNavbar ul li {
    margin-right: 15px;
}

.midNavbar ul li a {
    color: white;
    text-decoration: none;
}

.current {
    color: blue;
}

/* Conteúdo principal */

.imgPrincipal {
    background: url(../images/imagem_principal.jpg) no-repeat;
    background-size: cover;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quadrado {
    /* background: #5AF5DB; */
    /* background: #5af5db54; */
    background: radial-gradient(circle, rgb(1 28 89 / 65%) 2%, rgb(38 212 182 / 46%) 65%);
    width: 40%;
    height: 80%;
    border: 3px black solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quadrado h1 {
    font-size: 30px;
    position: relative;
    bottom: 25%;
}

.quadrado input {
    text-align: center;
    background: white;
    border: 2px black solid;
    border-radius: 10px;
}

.dados,.dados2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

