* {
    font-family: Andale Mono, monospace;
    margin: 0;
    padding: 0;
    outline: none;
}

/* Navbar */

.navbar {
    height: 15vh;
    background: radial-gradient(circle, rgba(1, 28, 89, 0.9808298319327731) 2%, rgba(38, 212, 182, 1) 65%);
    display: flex;
    justify-content: center;
    border-bottom: 3px solid black;
}

.midNavbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgNavbar {
    display: flex;
}

.imgNavbar img {
    width: 150px;
}

.midNavbar ul {
    color: white;
    display: flex;
    list-style-type: none;
    margin-top: 35px;
    text-transform: uppercase;
}

.midNavbar ul li {
    font-size: 20px;
    margin-right: 15px;
}

.midNavbar ul li a {
    color: white;
    text-decoration: none;
    transition: 0.8s;
}

.midNavbar ul li a:hover {
    color: gray;
}

/* Conteúdo principal */

.imgPrincipal {
    background: url(../images/imagem_principal.jpg) no-repeat;
    background-size: cover;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgPrincipal h1 {
    text-align: center;
    font-size: 30px;
    color: white;
}

.imgPrincipal img {
    width: 50%;
}

.imgJogos {
    width: 33%;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    border: 3px black solid;
    border-radius: 15px;
    background: rgba(100, 108, 110, 0.226);
}

.imgJogos img:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 14px 2px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
}

.imgJogos h3 {
    font-size: 30px;
    padding: 10px;
    color: navy;
}

.imgJogos p {
    font-size: 25px;
    color: ghostwhite;
    
}

/* Footer */

.footer {
    background: #3332322e;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid black;
}

.logoFooter {
    width: 150px;
}

.logoDev {
    text-align: center;
}

.logoDev h2 {
    margin-top: 10px;
}

.logoDev img {
    padding: 5px;
    width: 100px;
}

.logoDev p {
    font-size: 20px;
}

.textoContato {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
    letter-spacing: 1px;
}

.textoContato h2 {
    margin-bottom: 20px;
}

.imgRedes img {
    width: 50px;
    margin-right: 10px;
    font-size: 20px;
}