* {
    font-family: Andale Mono, monospace;
    margin: 0;
    padding: 0;
    outline: none;
}

/* Navbar */

.navbar {
    height: 10vh;
    background: radial-gradient(circle, rgba(10,152,250,1) 10%, rgba(4,20,92,0.938813025210084) 72%);
    display: flex;
    justify-content: center;
}

.midNavbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgNavbar {
    display: flex;
}

.imgNavbar img {
    width: 150px;
}

.textoNavbar {
    color: white;
    display: flex;
    align-items: center;
}

.imgSair img {
    width: 50px;
    display: flex;
    align-items: center;
}

/* Conteúdo principal */

.imgPrincipal {
    background: url(../images/imagem_principal.jpg) no-repeat;
    background-size: cover;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quadrado {
    background: #ffffff47;
    width: 80%;
    height: 90%;
    border: 3px black solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quadrado img {
    width: 100%;
    height: 100%;
    border: 3px black solid;
    border-radius: 15px;
    opacity: 0.3;
}

/* Footer */

.footer {
    background: #04145cf5;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoFooter {
    width: 120px;
}

.dev {
    text-align: center;
    color: white;
}

.dev h2 {
    margin-top: 10px;
}

.dev p {
    font-size: 20px;
}

.imgRedes img {
    width: 50px;
    margin-right: 10px;
    font-size: 20px;
}