* {
    font-family: Andale Mono, monospace;
    margin: 0;
    padding: 0;
    outline: none;
}

/* Navbar */

.navbar {
    height: 10vh;
    background: radial-gradient(circle, rgba(10,152,250,1) 10%, rgba(4,20,92,0.938813025210084) 72%);
    display: flex;
    justify-content: center;
}

.midNavbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgNavbar {
    display: flex;
}

.imgNavbar img {
    width: 150px;
}

.midNavbar ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
}

.midNavbar ul li {
    font-size: 20px;
    margin-right: 15px;
}

.midNavbar ul li a {
    color: white;
    text-decoration: none;
    transition: 0.8s;
}

.midNavbar ul li a:hover {
    color: gray;
}

.current {
    color: white;
    text-decoration: underline;
}

/* Imagens */

.container {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
  }

  .linha {
    width: 100%;
    height: 50vh;
    display: flex;
  }

  .img {
    height: 100%;
    width: 20vw;
    opacity: 0.2;
  }

  .img img {
    height: 100%;
    width: 100%;
  }

  .img:hover {
    opacity: 1;
    transition: 00.5s;
  }

/* Conteúdo principal */

.conteudo {
    background: radial-gradient(circle, rgb(22 51 114 / 79%) 2%, rgb(52 153 228 / 68%) 65%);
    border-top: 4px black solid;
}

.sobre {
    text-align: center;
    color: white;
    margin-top: 8px;
}

/* Imagens Sobre */

.box {
    overflow: auto;
}

.box img {
    width: 100px;
}

.box-item {
    width: 33%;
    float: left;
    text-align: center;
    margin-top: 50px;
}

.box img:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 14px 2px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
}

.box-item h3 {
    color: white;
    padding: 10px;
}

.box-item p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 800;
}

/* Atualizações */

.att {
    height: 15vh;
    display: flex;
    align-items: center;
}

.textoAtt {
    display: flex;
    margin-left: 10%;
}

.textoAtt h2 {
    color: white;
    margin-right: 10%;
    text-align: center;
}

.form {
    display: flex;
    margin-left: 20%;
}

.form input {
    height: 30px;
    width: 250px;
    text-align: center;
    border: 2px black solid;
}

.form button {
    height: 35px;
    width: 100px;
    background-color: white;
    border: 2px black solid;
    border-radius: 10px;
    margin-left: 10px;
    transition: 0.8s;
    cursor: pointer;
}

.form button:hover {
    background-color: #1c318f57;
}

/* Footer */

.footer {
    background: #04145cf5;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoFooter {
    width: 120px;
}

.dev {
    text-align: center;
    color: white;
}

.dev h2 {
    margin-top: 10px;
}

.dev p {
    font-size: 20px;
}

.imgRedes img {
    width: 50px;
    margin-right: 10px;
    font-size: 20px;
}