* {
    font-family: Andale Mono, monospace;
    margin: 0;
    padding: 0;
    outline: none;
}

/* Navbar */

.navbar {
    height: 10vh;
    background: radial-gradient(circle, rgba(10,152,250,1) 10%, rgba(4,20,92,0.938813025210084) 72%);
    display: flex;
    justify-content: center;
}

.midNavbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgNavbar {
    display: flex;
}

.imgNavbar img {
    width: 150px;
}

.midNavbar ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
}

.midNavbar ul li {
    font-size: 20px;
    margin-right: 15px;
}

.midNavbar ul li a {
    color: white;
    text-decoration: none;
    transition: 0.8s;
}

.midNavbar ul li a:hover {
    color: gray;
}

.current {
    color: white;
    text-decoration: underline;
}

/* Conteúdo principal */

.imgPrincipal {
    background: url(../images/imagem_principal.jpg) no-repeat;
    background-size: cover;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quadrado {
    background: url(../images/fundo.jpg) no-repeat;
    width: 52%;
    height: 60%;
    border: 3px black solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quadrado h2 {
    font-size: 30px;
    padding: 10px;
}

.quadrado p {
    font-size: 20px;
}

.quadrado input {
    text-align: center;
    border: 2px black solid;
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 5px;
    width: 12vw;
}

.quadrado button {
    background: rgb(10 152 250 / 32%) 10%;
    color: black;
    text-align: center;
    padding: 5px;
    border: 2px black solid;
    border-radius: 10px;
    width: 6vw;
    transition: 0.5s;
    cursor: pointer;
}

.quadrado button:hover {
    background: white;
}

.login form {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro form {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 15%;
}

.cadastro {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Footer */

.footer {
    background: #04145cf5;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoFooter {
    width: 120px;
}

.dev {
    text-align: center;
    color: white;
}

.dev h2 {
    margin-top: 10px;
}

.dev p {
    font-size: 20px;
}

.imgRedes img {
    width: 50px;
    margin-right: 10px;
    font-size: 20px;
}